<nav id="main-nav">
  <a class="nav-section" href="profile-user.html">
    <img src="../../images/userIcon.jpg" alt="User's profile picture" />
    <p><%=user.firstName%> <%=user.lastName%></p>
  </a>
  <a id="logo-section" class="nav-section" href="home.html">
    <img src="../../images/chalkboardLogo.jpg" alt="Chalkboard logo" />
  </a>
  <div id="search-add-section" class="nav-section flex-last flex">
    <label for="search"
      >Course&nbsp;Search:
      <input id="search" type="text" name="search" placeholder="CRS 101" />
    </label>
    <img src="../../images/searchIcon.jpg" alt="Search button" />
    <% if(user.role == "teacher"){ %>
    <a href="/create-course"
      ><img src="../../images/addIcon.jpg" alt="Add course button"
    /></a>
    <% } %>
  </div>
</nav>
