<nav id="course-nav">
  <a id="contents-tab" class="active-tab course-tab" href="content.html">
    <div class="active-border"></div>
    <img src="../../../images/contentIcon.jpg" alt="Contents" />
    <p>Contents</p>
  </a>
  <a
    id="instructors-tab"
    class="course-tab"
    href="../instructors/instructors.html"
  >
    <img src="../../../images/instructorIcon.jpg" alt="Instructors" />
    <p>Instructors</p>
  </a>
  <a id="students-tab" class="course-tab" href="../students/students.html">
    <img src="../../../images/studentIcon.jpg" alt="Students" />
    <p>Students</p>
  </a>
</nav>
