.not-list {
  padding: 25px 15%;
}

.expanded {
  padding: 15px 5%;
}

.expanded2 {
  padding: 40px 10%;
}

.not-list > p:first-of-type {
  margin-top: 0;
}

.not-list input[type="text"] {
  margin: 10px 0;
  width: 100%;
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid var(--text-color);
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::file-selector-button */
.not-list input[type="file"]::file-selector-button {
  margin: 10px;
  background: transparent;
  color: inherit;
  font-size: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  border: 1px solid var(--text-color);
  transition: background 0.3s;
}

.not-list input[type="date"]::file-selector-button:hover {
  background: var(--hover-color);
}

.not-list input[type="date"] {
  margin: 10px;
  background: transparent;
  color: inherit;
  font-size: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  border: 1px solid var(--text-color);
  transition: background 0.3s;
}

.not-list input[type="date"]:hover {
  background: var(--hover-color);
}

.not-list textarea {
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid var(--text-color);
}

.not-list li {
  margin: 30px 0;
}

.logged-button {
  width: 100%;
  margin: 20px 0 30px;
  padding: 10px;
  background-color: transparent;
  color: inherit;
  font-size: 1.5em;
  font-family: "Faraco Hand", "Chalkduster", fantasy;
  font-weight: bold;
  text-align: center;
  border: 2px solid var(--text-color);
  transition: background 0.3s;
}

.logged-button:hover {
  background: var(--hover-color);
}

.dynamic-button {
  width: 60%;
  margin: 0 20% 40px;
  padding: 10px;
  background-color: transparent;
  color: inherit;
  font-size: 0.9em;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  border: 2px solid var(--text-color);
  transition: background 0.3s;
}

#create-course .dynamic-button {
  margin-bottom: 15px;
}

.dynamic-button:hover {
  background: var(--hover-color);
}
