@import "global.css";
@import "unlogged.css";
@import "main-nav.css";
@import "margin.css";
@import "course-nav.css";
@import "header.css";
@import "list-structure.css";
@import "info-structure.css";

/* 



*/

/* .material {
  display: flex;
}

.assignment {
  display: flex;
  justify-content: space-between;
}

.instructor {
  display: flex;
}

.student {
  display: flex;
  justify-content: space-between;
}

.student-info {
  display: flex;
  flex-basis: 100%;
}

.course-instructors {
  display: flex;
  justify-content: space-around;
}

.todo-work,
.completed-work {
  display: flex;
  justify-content: space-between;
} */

/* #upload; */
