<div class="main-margin">
  <%- include("./partials/tab3") %>

  <header>
    <h1>Work Completed</h1>
  </header>

  <section id="completed">
    <a class="medium flex" href="completed-view.html">
      <img src="../../../images/documentIcon.jpg" alt="Assignment icon" />
      <div class="info">
        <p>Placeholder</p>
        <p>Grade</p>
      </div>
    </a>
    <a class="medium flex" href="completed-view.html">
      <img src="../../../images/documentIcon.jpg" alt="Assignment icon" />
      <div class="info">
        <p>Placeholder</p>
        <p>Grade</p>
      </div>
    </a>
  </section>
</div>
