<div class="main-margin">
  <%- include("./partials/tab1") %>

  <header>
    <div class="active-border"></div>
    <h1>CRS 101 Contents</h1>
  </header>

  <section id="content">
    <a class="largest flex" href="/<%=pageTitle%>/content/materials">
      <img src="../../../images/videoIcon.jpg" alt="Material" />
      <h2>Materials</h2>
    </a>
    <a class="largest flex" href="/<%=pageTitle%>/content/assignments">
      <img src="../../../images/documentIcon.jpg" alt="Material" />
      <h2>Assignments</h2>
    </a>
  </section>
</div>
