<div class="main-margin">
  <header class="uncoursed">
    <h1>Create a Course</h1>
  </header>

  <section id="create-course" class="not-list">
    <form method="POST" action="/create-course">
      <p>
        <label for="course-name"
          >Course Name:
          <input
            id="course-name"
            type="text"
            name="courseName"
            placeholder="CRS101"
          />
        </label>
      </p>
      <p>
        <label for="section"
          >Section Number:
          <input
            id="section"
            type="text"
            name="section"
            placeholder="A"
            value="A"
          />
        </label>
      </p>
      <!-- date and time -->
      <p>
        <label for="day"
          >Day:
          <select id="day" name="day">
            <option value="Sunday">Sunday</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
          </select>
        </label>
        <label for="from"
          >Time: <input id="from" type="time" name="from" /> -
          <input id="to" type="time" name="to" />
        </label>
      </p>
      <!-- <button class="dynamic-button">Add time</button> -->
      <p>
        <label for="description"
          >Course Description: <br />
          <textarea
            id="description"
            name="description"
            placeholder="Description"
          ></textarea>
        </label>
      </p>

      <button class="logged-button" type="submit">Create Course</button>
    </form>
  </section>
</div>
