<div class="main-margin">
  <h1>Chalkboard</h1>
  <h2 id="author">by Bian Pasiliao</h2>

  <div id="unlogged-links" class="unlogged-buttons flex">
    <a href="pages/log-in.html">Log In</a>
    <a href="/sign-up">Sign Up</a>
  </div>
</div>
