<div class="main-margin">
  <h1>Sign Up</h1>

  <% if(locals.errors) { %>
  <div>
    <ul>
      <% errors.forEach(function (error) { %>
      <li><%= errors.msg %></li>
      <% }) %>
    </ul>
  </div>
  <% } %>

  <form method="POST" action="/sign-up">
    <div id="sign-up-form" class="unlogged-field flex">
      <div class="unlogged-form">
        <p>
          <label for="first-name"
            >First name:<br />
            <input
              id="first-name"
              type="text"
              name="firstName"
              placeholder="Firstname"
            />
          </label>
        </p>
        <p>
          <label for="last-name"
            >Last name:<br />
            <input
              id="last-name"
              type="text"
              name="lastName"
              placeholder="Lastname"
            />
          </label>
        </p>
        <p>
          <label for="email"
            >Email:<br />
            <input
              id="email"
              type="text"
              name="email"
              placeholder="name@email.com"
            />
          </label>
        </p>
        <p>
          <label for="password1"
            >Create password:<br />
            <input
              id="password1"
              type="text"
              name="password1"
              placeholder="********"
            />
          </label>
        </p>
        <p>
          <label for="password2"
            >Confirm password:<br />
            <input
              id="password2"
              type="text"
              name="password2"
              placeholder="********"
            />
          </label>
        </p>
      </div>

      <div class="unlogged-radio">
        <input id="student" type="radio" name="role" value="student" />
        <label for="student">I am a Student</label>
        <input id="teacher" type="radio" name="role" value="teacher" />
        <label for="teacher">I am a Teacher</label>
      </div>
    </div>

    <input
      type="submit"
      class="unlogged-buttons"
      value="Sign Up for Chalkboard"
    />
  </form>
</div>
