<div class="main-margin">
  <%- include("./partials/tab2") %>

  <header>
    <div class="active-border"></div>
    <h1>To Do</h1>
  </header>

  <section id="todo">
    <a class="small flex" href="todo-view.html">
      <img src="/images/documentIcon.jpg" alt="Assignment icon" />
      <h2>Placeholder</h2>
      <p>10/10</p>
    </a>
  </section>
</div>
