/* -----MEDIUM------------------- */
.medium {
  display: flex; /* delete */
  justify-content: left;
  padding: 10px;
  transition: background 0.3s;
}

.medium:hover {
  background: var(--hover-color);
}

.medium h2 {
  font-size: 1.3em;
  margin: 0;
}

.medium p {
  font-size: 0.9em;
  margin: 0.15em 0;
}

.medium img {
  flex-basis: 10%;
  height: 80px;
}

.medium .info {
  flex-basis: 50%;
  margin: auto 0;
  padding-left: 15px;
}

/* -----LARGE-------------------- */
.large {
  display: flex; /* delete */
  justify-content: space-between;
  padding: 10px;
  transition: background 0.3s;
}

.large:hover {
  background: var(--hover-color);
}

.large h2 {
  font-size: 1.5em;
  margin: 0;
}

.large p {
  margin: 0.35em 0;
}

.large img {
  flex-basis: 20%;
}

.large .info {
  flex-basis: 75%;
  margin: auto 0;
  padding-left: 15px;
}

/* 
  
  
  
  */

/* -----LARGEST------------------ */
.largest {
  display: flex; /* delete */
  justify-content: center;
}

.largest {
  padding: 50px;
  transition: background 0.3s;
}

.largest img {
  flex-basis: 20%;
  /* padding: 50px; */
}

.largest h2 {
  flex-basis: 40%;
  padding: 0 0 0 15px;
  margin: auto 0;
  font-size: 1.75em;
}

.largest:hover {
  background: var(--hover-color);
}

/* 
  
  
  
  
  */
