/* -----GLOBAL----------------------------------- */
html {
  --bg-color: rgb(61, 72, 68);
  --text-color: #eeeeee;
  --hover-color: #ededed40;
  --selected-color: #ededed20;
  /* --nav-color: rgb(219,189,145); */
  --nav-color: rgb(192, 156, 112);
  --active-red: rgba(255, 146, 146, 0.7);
  --active-blue: rgba(118, 191, 255, 0.7);
  --active-yellow: rgba(255, 238, 113, 0.7);
  --inactive-red: rgba(255, 146, 146, 0.3);
  --inactive-blue: rgba(118, 191, 255, 0.3);
  --inactive-yellow: rgba(255, 238, 113, 0.3);
  --border-color: #eeeeee;
  /* --nav-color: rgb(219, 189, 145); */

  --nav-height: 70px;
}

@font-face {
  font-family: "Faraco Hand";
  src: url(../fonts/Faraco\ Hand.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: "Faraco Hand", "Chalkduster", fantasy;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-last {
  justify-content: right;
}

img {
  border-radius: 50%;
}

/* -----UNLOGGED-------------------------------- */
h1 {
  font-size: 5em;
  margin: 0.25em 0 0;
}

#author {
  font-size: 2.5em;
  font-weight: normal;
  margin: 0;
}

.unlogged-buttons {
  justify-content: space-between;
  margin: 70px 0;
  font-family: "Faraco Hand", "Chalkduster", fantasy;
  font-size: 2em;
  font-weight: bold;
}

.unlogged-buttons a {
  flex-basis: 100%;
  border: 2px solid var(--text-color);
  padding: 20px;
  text-align: center;
  transition: background 0.3s;
}

.unlogged-buttons a:hover {
  background: var(--hover-color);
}

.unlogged-buttons a:active {
  background: var(--selected-color);
}

#sign-up-form {
  justify-content: space-between;
}

.unlogged-field {
  width: 90%;
  margin: 50px auto 0;
}

.unlogged-form {
  flex-basis: 50%;
}

.unlogged-form input {
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid var(--text-color);
}

.unlogged-form input::placeholder {
  color: var(--hover-color);
}

.unlogged-form input:focus {
  background: var(--selected-color);
}

.unlogged-radio {
  flex-basis: 35%;
  margin: auto 0;
  text-align: center;
}

.unlogged-radio input {
  display: none;
}

.unlogged-radio label {
  display: block;
  text-align: center;
  margin: 20px 0;
  padding: 50px;
  border: 1px solid var(--text-color);
  transition: background 0.3s;
}

.unlogged-radio label:hover {
  background: var(--hover-color);
}

.unlogged-radio input:checked + label {
  background: var(--selected-color);
}

/* index - @450px, put sign up under */
/* index - @800px, font size up */
/* sign up - @700, put student/teacher under, make forms wider */

/* -----LOGGED---------------------------------- */
/* -----MAIN NAV------------------------ */
nav img {
  height: 50px;
}

#main-nav {
  position: fixed;
  display: flex; /* delete */
  width: 100%;
  height: var(--nav-height);
  /* padding: auto 20px; */
  background: var(--nav-color);
  justify-content: space-between;
}

#main-nav p {
  margin: auto 10px;
}

#main-nav label {
  margin: auto 10px;
  padding: 0;
  text-align: right;
}

#main-nav input,
#main-nav select {
  /* margin: 10px 0; */
  width: 100px;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid var(--text-color);
}

#main-nav input:focus {
  background: var(--selected-color);
}

#logo-section img {
  margin: 0 auto;
}

.nav-section {
  margin: auto 10px;
  flex-basis: 30%;
  display: flex; /* delete */
}

/* -----MARGIN-------------------------- */
.main-margin {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: calc(var(--nav-height) + 10px);
  /* background: lightpink; */
}

section {
  border-right: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-left: 3px solid var(--border-color);
  border-radius: 0 0 10px 10px;
}

/* -----COURSE NAV----------------- */
#course-nav {
  display: flex;
  /* background-color: var(--hover-color); */
  border-radius: 10px 10px 0 0;
}

.course-tab {
  flex-basis: 100%;
  justify-content: center;
  position: relative;
  display: flex;
  margin: auto 0;
  padding: 8px 5px 8px 5px;
  border-bottom: 3px solid var(--border-color);
  border-radius: 10px 10px 0 0;
  transition: background 0.3s;
}

.course-tab img {
  height: 35px;
}

.course-tab p {
  margin: auto 0 auto 5px;
}

#contents-tab {
  background: var(--inactive-red);
}

#instructors-tab {
  background: var(--inactive-yellow);
}

#students-tab {
  background: var(--inactive-blue);
}

.active-tab#contents-tab,
#contents-tab:hover {
  background: var(--active-red);
}

.active-tab#instructors-tab,
#instructors-tab:hover {
  background: var(--active-yellow);
}

.active-tab#students-tab,
#students-tab:hover {
  background: var(--active-blue);
}

.active-tab {
  padding: 6px 5px 10px 5px;
  border-left: 3px solid var(--border-color);
  border-top: 3px solid var(--border-color);
  border-right: 3px solid var(--border-color);
  border-bottom: none;
}

.active-border {
  position: absolute;
  background: white;
  /* border-bottom: 2px solid white; */
  height: 3px;
  width: 70%;
  border-radius: 3px 3px 0 0;
  left: 15%;
  bottom: 0;
  right: 15%;
}

/* -----HEADER--------------------- */
header {
  display: flex; /* delete */
  position: relative;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  padding: 7px;
  background: var(--hover-color);
  border-left: 3px solid var(--border-color);
  border-right: 3px solid var(--border-color);
}

header h1 {
  /* flex-basis: 80%; */
  margin: 5px 10px;
  font-size: 2em;
}

.mini {
  flex-basis: 10%;
}

.header-section {
  display: flex;
}

header img {
  height: 50px;
}

#home-header {
  border-top: 3px solid var(--border-color);
  border-radius: 10px 10px 0 0;
}

.header-title {
  justify-content: left;
  flex-basis: 75%;
}

/* -----MEDIUM------------------- */
.medium {
  display: flex; /* delete */
  justify-content: left;
  padding: 10px;
  transition: background 0.3s;
}

.medium:hover {
  background: var(--hover-color);
}

.medium h2 {
  font-size: 1.3em;
  margin: 0;
}

.medium p {
  font-size: 0.9em;
  margin: 0.15em 0;
}

.medium img {
  flex-basis: 10%;
  height: 80px;
}

.medium .info {
  flex-basis: 50%;
  margin: auto 0;
  padding-left: 15px;
}

/* -----LARGE-------------------- */
.large {
  display: flex; /* delete */
  justify-content: space-between;
  padding: 10px;
  transition: background 0.3s;
}

.large:hover {
  background: var(--hover-color);
}

.large h2 {
  font-size: 1.5em;
  margin: 0;
}

.large p {
  margin: 0.35em 0;
}

.large img {
  flex-basis: 20%;
}

.large .info {
  flex-basis: 75%;
  margin: auto 0;
  padding-left: 15px;
}

/* 



*/

/* -----LARGEST------------------ */
.largest {
  display: flex; /* delete */
  justify-content: center;
}

.largest {
  padding: 50px;
  transition: background 0.3s;
}

.largest img {
  flex-basis: 20%;
  /* padding: 50px; */
}

.largest h2 {
  flex-basis: 40%;
  padding: 0 0 0 15px;
  margin: auto 0;
  font-size: 1.75em;
}

.largest:hover {
  background: var(--hover-color);
}

/* 




*/

.not-list {
  padding: 25px 15%;
}

.not-list > p:first-of-type {
  margin-top: 0;
}

.not-list input[type="text"] {
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid var(--text-color);
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::file-selector-button */
#upload::file-selector-button {
  margin: 10px;
  background-color: transparent;
  color: inherit;
  font-size: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  border: 1px solid var(--text-color);
  transition: background 0.3s;
}

#upload::file-selector-button:hover {
  background: var(--hover-color);
}

#create-material-button {
  width: 100%;
  margin: 30px 0;
  padding: 10px;
  background-color: transparent;
  color: inherit;
  font-size: 1.5em;
  font-family: "Faraco Hand", "Chalkduster", fantasy;
  font-weight: bold;
  text-align: center;
  border: 2px solid var(--text-color);
  transition: background 0.3s;
}

#create-material-button:hover {
  background: var(--hover-color);
}

/* 






*/

.material {
  display: flex;
}

.assignment {
  display: flex;
  justify-content: space-between;
}

.instructor {
  display: flex;
}

.student {
  display: flex;
  justify-content: space-between;
}

.student-info {
  display: flex;
  flex-basis: 100%;
}

.course-instructors {
  display: flex;
  justify-content: space-around;
}

.todo-work,
.completed-work {
  display: flex;
  justify-content: space-between;
}

/* #upload; */
